<nav [class.hidden]="isHidden" class="fixed top-12 left-1/2 transform -translate-x-1/2 w-full bg-transparent shadow-md z-50">
  <div class="max-w-10xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-14">
      <div class="flex items-center">
        <img
          src="centelonsolutions_logo-removebg-preview.png"
          alt="Logo"
          class="h-8"
        />
        <span class="text-black text-2xl font-semibold ml-2">Centelon</span>
      </div>

      <div class="md:flex space-x-6">
        <a routerLink="/" class="text-black hover:text-blue-500 font-medium cursor-pointer">Home</a>
        <a routerLink="/login" class="text-black hover:text-blue-500 font-medium cursor-pointer">Login</a>
        <a routerLink="/about" class="text-black hover:text-blue-500 font-medium cursor-pointer">About</a>
      </div>
    </div>
  </div>
</nav>